.Join{
    display: flex;
    padding: 0 2rem;
    gap: 22rem;
}
.Join {
    margin-top: 2%;
    background-image: url('../../assets/connect.jpg');
    background-size: cover; /* Cover the entire element */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: center; /* Center the background image */
    /* Add other styles as needed */
  }
  
  /* Your existing styles for left-j, right-j, email-container, etc. */
  
.left-j{
    
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    
}
.left-j>hr{
    
    position: absolute;
    width: 15.5rem;
    border: 4px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}

.left-j>div{
    display: flex;
    gap: 1rem;
}

.right-j {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.email-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem 2rem;
    width: 15rem;
    height: 18rem;
    border-radius: 2%;
}

.email-container > input {
    background-color: transparent;
    
    outline: black;
    color: var(--lightgray);
}

.email-container > input::placeholder {
    color: black;
}

.btn-j {
    background-color: var(--orange);
    color: white;
}
.right-j {
   /* Ensure the background image covers the entire div */
    background-position: center; /* Center the background image */
    padding: 2rem; /* Add padding to the div */
  }
  
/* Media query for screens with max-width of 768px */
@media screen and (max-width: 768px){
    .Join {
        margin-top: 70%;
      flex-direction: column; /* Stack elements vertically */
      gap: 2rem; /* Add gap between elements */
      align-items: center; /* Center-align elements */
    }
  
    .right-j {
      margin-top: 2rem; /* Add margin to separate form from span text */
    }
  }
